@import url('../fonts/inter.css');
*{font-family:Inter,sans-serif;font-weight:400}
.font-500{font-weight:500!important}
.form-control{border:1px solid #656565;}
.select2-container{z-index:9999}
body{font-family:Inter,sans-serif;font-size:16px;font-weight:400!important;color:#383838;background-color:#fff}
header{background:#383838;min-height:60px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.head-main-tel{color:#fff;font-weight:700;text-decoration:none}
.head-main-tel:hover{color:#dfce9d;text-decoration:none}
.headerno-cls{font-size:30px;padding-top:10px}
.owl-carousel .owl-item img{width:auto}
.owl-carousel .owl-dots{display:none}
.main-all-heading{margin-bottom:0;font-size:32px;text-transform:uppercase;font-weight:600;text-align:left;color:#173d5b;line-height:38px}
.main-all-heading span{font-weight:600;padding:5px 10px;background:linear-gradient(135deg,#b99863 0,#e0cd98 25%,#f8edb8 50%,#d7c18f 75%,#ac8a5b 100%)}
@media (max-width:1280px){
.main-all-heading{margin-bottom:0;font-size:28px;text-transform:uppercase;font-weight:600;text-align:left;color:#173d5b;line-height:normal;}
}
@media (max-width:768px){
.main-all-heading{margin-bottom:0;font-size:30px;text-transform:uppercase;font-weight:600;text-align:left;color:#173d5b;line-height:normal;}
}
@media (max-width:600px){
.main-all-heading{margin-bottom:0;font-size:28px;text-transform:uppercase;font-weight:600;text-align:center;color:#173d5b;}
.main-all-heading span{line-height:50px;font-weight:600;padding:5px 10px;background:linear-gradient(135deg,#b99863 0,#e0cd98 25%,#f8edb8 50%,#d7c18f 75%,#ac8a5b 100%)}
}
@media (max-width:375px){
.main-all-heading{margin-bottom:0;font-size:26px;text-transform:uppercase;font-weight:600;text-align:center;color:#173d5b;line-height:normal;}
}
/*==========================================*/
/* Banner css*/
/*==========================================*/
.banner-section-cls{background:url(../images/banner-bg-hair.webp) bottom center no-repeat;background-size:cover}
@media (max-width:600px){
.banner-section-cls{background:url(../images/banner-bg-hair-mob.webp) bottom center no-repeat;background-size:cover}
}
.hair_banner_content h1{font-weight:500;color:#474747;font-size:36px}
.hair_banner_content h2{font-weight:700;color:#0b4481;font-size:45px;line-height:normal; margin-bottom: 0;}
.banner_list_item_google_rating{list-style:none;padding-inline-start:0px;display: inline-flex;align-items:center;margin-bottom:10px;padding: 5px;margin-top:15px;background: linear-gradient(90deg,#0d2334 0,#173d5b 51%,#0d2334 100%);}
.banner_list_item_google_rating img{width: 140px}
.banner_list_item_google_rating li{font-size: 14px;font-weight:600;color: #ffffff;padding-right:10px}
@media (max-width:1680px){
.hair_banner_content h1{font-weight:500;color:#474747;font-size:32px}
.hair_banner_content h2{font-weight:700;color:#0b4481;font-size:42px;line-height:normal}
.img_banner_unit{width:40%}
}
@media (max-width:1280px){
.hair_banner_content h1{font-weight:500;color:#474747;font-size:28px}
.hair_banner_content h2{font-weight:700;color:#0b4481;font-size:38px;line-height:normal}
.img_banner_unit{width:42%}
}
@media (max-width:1024px){
.hair_banner_content h1{font-weight:500;color:#474747;font-size:22px}
.hair_banner_content h2{font-weight:700;color:#0b4481;font-size:26px;line-height:normal}
.img_banner_unit{width:45%}
}
@media (max-width:600px){
.hair_banner_content{padding-top: 30px}
.hair_banner_content h1{font-weight:500;color:#474747;font-size:24px}
.hair_banner_content h2{font-weight:700;color:#0b4481;font-size:32px;line-height:normal;}
.img_banner_unit{width:65%}
.banner_list_item_google_rating img{width: 120px}
.banner_list_item_google_rating li{font-size: 12px;font-weight:600;color: #ffffff;padding-right:10px}
}

/*==========================================*/
/* Offer css*/
/*==========================================*/
.offer-background-sec-new{background-color:#173d5b;padding-top:11px;padding-bottom:11px;background:linear-gradient(90deg,#0d2334 0,#173d5b 51%,#0d2334 100%)}
.border-right-css-n-band{border-right:1px solid #fff}
.blue-band-padding-new-css{padding:0 30px}
.blue-band-offer-heading{margin-bottom:0;font-size:28px;color:#fff;font-weight:600;line-height:normal}
.percntageband-heading{font-size:28px;font-weight:700;color:#fff;margin-bottom:0}
.offer-new-para-css{margin-bottom:0;color:#fff;font-size:18px;line-height:normal}
.small_white_offer_offer{float:right;font-size:12px;font-weight:600;color:#fff;margin-top:-15px}
@media(max-width:1280px){
.blue-band-padding-new-css{padding:20px 30px}
}
@media(max-width:1024px){
.blue-band-padding-new-css{padding:10px 14px 30px 14px}
}
@media(max-width:922px){
.border-right-css-n-band{border-right:none}
.offer-new-para-css{margin-bottom:0;color:#fff;font-size:13px;line-height:normal}
.blue-band-padding-new-css{padding:5px 0 30px 0}
}
@media(max-width:768px){
.offer-background-sec-new{padding-top:30px;padding-bottom:50px}
.blue-band-offer-heading{margin-bottom:12px}
.blue-band-padding-new-css{padding:0 15px}
.border-right-css-n-band{border-right:none}
.blue-band-offer-heading{font-size:24px}
.small_white_offer_offer{float:right;font-size:10px;font-weight:600;color:#fff;margin-top:15px;margin-bottom:0}
}
@media(max-width:600px){
.offer-new-para-css{margin-bottom:0;color:#fff;font-size:14px;line-height:normal}
}

/*==========================================*/
/* Tratment Slider css*/
/*==========================================*/
.tratment_slider_sec{margin-top:65px}
@media(max-width:1024px){
.tratment_slider_sec{margin-top:40px}
}
.flipsub-heading{font-weight:600;color:#30292b;font-size:16px;text-transform:uppercase;margin-bottom:5px}
.flip-list{color:#636363;font-size:16px;padding-inline-start:19px;font-weight:500}
.flip-list li{margin-bottom:5px}
.box-for-treatment-sec{margin:12px 0;box-shadow:0 2px 8px rgb(194 194 194/30%)}
.ai-box-content{padding:10px 20px;height:auto}
.tratment-sub-heading{padding-top:20px;font-size:20px;color:#212121;line-height:30px;font-weight:600}
.tratment-slider-img-wid{width:100%!important}
.para_treatment_offer{font-size:14px;font-weight:500;margin-bottom:0}
#tratment_slider .owl-item .item img{-webkit-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:scale(.8);-ms-transform:scale(.8);transform:scale(.8);opacity:.4}
#tratment_slider .owl-item.center .item img{-webkit-transform:scale(1.15);-ms-transform:scale(1.15);transform:scale(1.15);opacity:1}
#tratment_slider .owl-nav{text-align:right;top:-60px;position:absolute;right:30px}
#tratment_slider .owl-nav button{font-size:30px!important;margin:0 7px;color:#000!important}
.treatment_offer_sec_new{margin-top:10px}
.treatment_offer_sec_new h2{margin-bottom:0;font-size:35px;font-weight:900;color:#3d98d1}
.treatment_offer_sec_new h2 span{font-weight:400;color:#212121;font-size:24px}
.treatment_hair_clinic_pro{font-size:21px;font-weight:600;color:#212121}
@media(max-width:1024px){
.owl-item .item{transform:translate3d(0,0,0);padding:30px 30px 20px}
#tratment_slider .owl-nav{text-align:center!important;margin-top:15px;top:0;right:0;position:relative}
#tratment_slider .owl-nav button{font-size:30px!important;margin:0 10px;color:#000!important}
}
.ribbon-wrapper{width:150px;height:151px;overflow:hidden;position:absolute;top:0;left:0}
.ribbon-wrapper .ribbon{font-size:11px;font-weight:700;text-transform:uppercase;color:#fff;text-align:center;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);position:relative;padding:5px 0;top:29px;left:-41px;width:170px;background-color:#e60d26;color:#fff}
.box-for-treatment-sec{position:relative;max-height:540px;height:540px;overflow:hidden;transition:max-height .15s ease-out}
.box-for-treatment-sec.expand{max-height:5000px!important;height:auto;transition:max-height .35s ease-in-out}
@media(max-width:1024px){
.box-for-treatment-sec{position:relative;max-height:540px;height:540px;overflow:hidden;transition:max-height .15s ease-out}
}

/*==========================================*/
/* Includes css*/
/*==========================================*/
.includes_main_sec{margin-top:60px}
.includes_clinic_box{height:130px;margin-top:40px;padding:8px 15px;background:linear-gradient(136deg,#b99863 0,#e0cd98 25%,#f8edb8 50%,rgb(230 214 165) 75%,rgb(208 184 134) 100%)}
.includes_clinic_box p{font-size:21px;color:#212121;font-weight:500;margin-bottom:5px;margin-top:8px;line-height:normal}
.includes_clinic_box img{margin-top:-50px}
@media (max-width:1024px){
  .includes_clinic_box{height:150px;margin-top:40px;padding:8px 15px;background:linear-gradient(136deg,#b99863 0,#e0cd98 25%,#f8edb8 50%,rgb(230 214 165) 75%,rgb(208 184 134) 100%)}
.includes_clinic_box p{font-size:18px;color:#212121;font-weight:500;margin-bottom:5px;margin-top:8px;line-height:normal}
}

@media (max-width:992px){
  .includes_clinic_box{height:150px;margin-top:40px;padding:8px 15px;background:linear-gradient(136deg,#b99863 0,#e0cd98 25%,#f8edb8 50%,rgb(230 214 165) 75%,rgb(208 184 134) 100%)}
.includes_clinic_box p{font-size:16px;color:#212121;font-weight:500;margin-bottom:5px;margin-top:8px;line-height:normal}
}

@media (max-width:768px){
.includes_clinic_box{height:140px;margin-top:40px;margin-bottom:10px;padding:5px 10px;background:linear-gradient(136deg,#b99863 0,#e0cd98 25%,#f8edb8 50%,rgb(230 214 165) 75%,rgb(208 184 134) 100%)}
.includes_clinic_box p{font-size:16px;color:#212121;font-weight:500;margin-bottom:5px;margin-top:8px;line-height:normal}
}

@media (max-width:600px){
  .includes_main_sec{margin-top:40px}
.includes_clinic_box{height:auto;margin-top:40px;margin-bottom:10px;padding:5px 10px;background:linear-gradient(136deg,#b99863 0,#e0cd98 25%,#f8edb8 50%,rgb(230 214 165) 75%,rgb(208 184 134) 100%)}
.includes_clinic_box p{font-size:16px;color:#212121;font-weight:500;margin-bottom:5px;margin-top:8px;line-height:normal}
}

/*==========================================*/
/* Tabby Slider css*/
/*==========================================*/
.tabby_slider .owl-item .item img{width:100%}
.tabby_slider .owl-item .item{transform:translate3d(0,0,0);padding:0}
.tabby_slider .owl-nav{text-align:center;top:-50px;position:absolute;right:5px}
.tabby_slider .owl-nav button{font-size:30px!important;margin:0 7px;color:#000!important}
@media (max-width:1024px){
.tabby_slider .owl-nav{text-align:center!important;margin-top:15px;top:0;right:0;position:relative}
.tabby_slider .owl-nav button{font-size:30px!important;margin:0 10px;color:#000!important}
}
@media (max-width:1024px){
.tabby_slider .owl-item .item img{width:75%;margin:auto}
}

/*==========================================*/
/* Types Slider css*/
/*==========================================*/
.types_of_hair_sec{margin-top:60px}
@media (max-width:600px){
.types_of_hair_sec{margin-top:45px}
}
.aliments_we_heading{margin-top:15px;margin-bottom:5px;font-size:24px;font-weight:600;color:#034173;text-align:left}
.aliments_list_cls{list-style:disc;padding-inline-start:31px}
.aliments_list_cls li{font-size:18px;margin-bottom:2px}
.aliments_list_cls li::marker{color:#666}
.aliments_list_cls_sec{list-style:disc;padding-inline-start:48px}
.aliments_list_cls_sec li{font-size:18px;margin-bottom:2px}
.aliments_list_cls_sec li::marker{color:#666}
@media (max-width:600px){
.aliments_list_cls{list-style:disc;padding-inline-start:96px}
.aliments_list_cls_sec{list-style:disc;padding-inline-start:110px}
}
.types_of_hair .owl-item:not(:last-child){border-right:1px solid #fff}
.types_of_hair .owl-item{border-right:1px solid #fff;padding-right:10px}
.types_of_hair .owl-item .item img{margin:auto}
.types_of_hair .owl-item .item{transform:translate3d(0,0,0);padding:10px}
.types_of_hair .owl-nav{text-align:center;top:-65px;position:absolute;right:5px}
.types_of_hair .owl-nav button{font-size:30px!important;margin:0 7px;color:#000!important}
@media (max-width:1024px){
.types_of_hair .owl-nav{text-align:center!important;margin-top:15px;top:0;right:0;position:relative}
.types_of_hair .owl-nav button{font-size:30px!important;margin:0 10px;color:#000!important}
}
@media (max-width:600px){
.types_of_hair .owl-nav{text-align:center!important;margin-top:0;top:0;right:0;position:relative}
.types_of_hair .owl-item{border-right:1px solid #fff;padding-right:0}
}
.img_on_text_type{color:#fff;text-align:center;font-size:16px;line-height:20px;font-weight:600;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.homeopathy_box_cen_ss{width:18%}
.types_of_homeopathy_box{padding:20px 10px 12px 10px;background:#fef6e2;border-radius:8px;margin-bottom:20px;margin-right:20px}
.types_of_homeopathy_box p{padding-top:12px;font-size:18px;font-weight:600;line-height:normal;height:50px;margin-bottom:0}
.types_of_homeopathy_box img{width:65%!important}
@media (max-width:600px){
.types_of_homeopathy_box{margin-right:0}
.types_of_hair .owl-item .item{padding: 0 10px 0 10px}
.aliments_we_heading{margin-top:12px;text-align:center;margin-bottom:10px}
}

/*==========================================*/
/* Benefits of Homeopathy css*/
/*==========================================*/
.benefits_of_homeopathy{margin-top:40px;padding:50px 0 65px;background:url(../images/service-bg-sec-img.webp) bottom center no-repeat;background-size:cover}
.benefits_of_homeopathy_box{padding:20px 10px;border-radius:8px;align-items:center;background-color:#034173}
.benefits_of_homeopathy_box img{margin-top:10px}
.benefits_of_homeopathy_box p{height:50px;margin-top:15px;margin-bottom:0;font-size:18px;font-weight:500;color:#fff;line-height:normal}
@media (max-width:1024px){
.benefits_of_homeopathy_box{padding:10px 10px 60px 10px;border-radius:8px;align-items:center;background-color:#034173}
}
@media (max-width:768px){
.benefits_of_homeopathy_box{padding:20px 5px;border-radius:8px;align-items:center;background-color:#034173}
.benefits_of_homeopathy_box p{height:70px;margin-top:5px;margin-bottom:0;font-size:16px;font-weight:500;color:#fff;line-height:normal}
}
@media (max-width:600px){
.benefits_of_homeopathy_box{display:inline-flex;width:100%;padding:8px 10px}
.benefits_of_homeopathy_box img{margin-top:0;width:50px;height:50px}
.benefits_of_homeopathy_box p{height:auto;padding-left:10px;margin-top:0;margin-bottom:0;font-size:16px;font-weight:400;color:#fff;line-height:normal;text-align:left}
}

/*==========================================*/
/* Google rating css*/
/*==========================================*/
.google_rating_sec{margin-top: 30px; margin-bottom: 20px;}

/*==========================================*/
/* Speal offer css*/
/*==========================================*/
.spl_offer_sec{margin-top: 50px;}

/*==========================================*/
/* Homeopathy Doctor css*/
/*==========================================*/
.bg_homeopathy_dr_sec{margin-top:50px}
.bg_homeopathy_dr{background:url(../images/bg-homeopathy-dr.webp) bottom center no-repeat;background-size:cover}
.homeopathy_dr_heading{font-size:32px;color:#173d5b;font-weight:600;text-transform:uppercase}
.doctors_list_ne{margin-top:20px}
.homeopathy_model_dr_cls{margin-left:-30px}
.doctors_list_ne{list-style-image:url('../images/list-homeoathy.webp');margin-left:0;padding-left:30px;margin-bottom:0}
.doctors_list_ne li{font-size:20px;font-weight:600;color:#666;margin-bottom:15px;padding-left:5px}
.doctors_list_ne li:last-child{margin-bottom:30px}
@media (max-width:1024px){
.bg_homeopathy_dr{padding-top:30px;background:url(../images/bg-homeopathy-dr-dek-d.webp) bottom center no-repeat;background-size:cover}
.doctors_list_ne li{font-size:16px;font-weight:600;color:#666;margin-bottom:7px;padding-left:5px}
.doctors_list_ne li:last-child{margin-bottom:20px}
}
@media (max-width:820px){
.bg_homeopathy_dr{padding-top:10px;background:url(../images/bg-homeopathy-dr-mob.webp) bottom center no-repeat;background-size:cover}
}
@media (max-width:600px){
.bg_homeopathy_dr{padding-top:50px;background:url(../images/bg-homeopathy-dr-mob.webp) bottom center no-repeat;background-size:cover}
.doctors_list_ne{list-style-image:url('../images/list-homeoathy.webp');margin-left:0;padding-left:42px;margin-bottom:0}
.doctors_list_ne li{font-size:18px;font-weight:600;color:#666;margin-bottom:15px;padding-left:5px}
.homeopathy_dr_heading{text-align:center;font-size:26px;color:#173d5b;font-weight:600;text-transform:uppercase}
.homeopathy_model_dr_cls{margin-left:0}
.doctors_list_ne li:last-child{margin-bottom:10px}
}
/*==========================================*/
/* Footer css*/
/*==========================================*/
.addressSection{background-color:#383838;color:#fff}
.addressSection .location-block h4{font-size:14px;font-weight:600}
.addressSection .location-block p{font-size:13px;margin-bottom:0}
.addressSection .location-block p span{font-weight:500}
@media (max-width:575.98px){
.fade-bg{background:#fffefa;opacity:.9}
.addressSection .location-block p{font-size:14px}
.addressSection .location-block p br{display:none}
}
.text-play-btn-img{width:30px!important;margin-right:10px!important}
.popup-vimeo:hover{text-decoration:none}
.para-google-rationg-op{background-color:#fff;height:55px;position:relative;z-index:999;color:#fff}
@media (max-width:575.98px){
.mfp-iframe-holder .mfp-content{width:100%;max-width:100%;height:100%}
}
.footer{background:#262626;color:#fff;font-size:13px;padding:30px 0;font-weight:500!important}
.copyright{font-weight:500}
.footerLink ul{padding:0;margin:0;list-style:none}
.footerLink ul li{display:inline}
.footerLink ul li a{display:inline-block;color:#fff;font-weight:500;padding:0 15px;position:relative}
.footerLink ul li a:hover{text-decoration:none}
.footerLink ul li a:after{content:'';height:100%;position:absolute;right:-5px;top:50%;width:5px;height:5px;display:inline-block;background:#fff;border-radius:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.footerLink ul li:last-child a:after{content:none;display:none}
.social-media a{padding:5px;margin:0 5px;font-weight:500}
@media (max-width:575.98px){
.footer{margin-bottom:60px}
.footerLink ul li:nth-child(2) a:after{content:none;display:none}
}


/**********************************************************************************/
/*=====================================================================*/
/* Book an Appointment Start CSS*/
/*=====================================================================*/
/**********************************************************************************/
.treatment_all_comm_div_new_book_an_appoinment .container{margin-top:35px;padding:20px;background-color: #fffaee;border:none;border-radius:20px}
.form_section_div_book_an_appoinment .treatment_all_heading_page{    margin-bottom: 0;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
    color: #474747;
    line-height: 38px;
  }
  .form_section_div_book_an_appoinment .treatment_all_heading_page span{
    color: #0b4481;
    font-weight: 700;
    font-size: 32px;
  }

@media(max-width:600px){
.treatment_all_comm_div_new_book_an_appoinment .container{border-radius:0;padding:25px 15px 15px}
.form_section_div_book_an_appoinment .treatment_all_heading_page{font-size:21px; line-height: 26px;}
.form_section_div_book_an_appoinment .treatment_all_heading_page span{font-size:21px;}
}

@media(max-width:600px){
  .form_section_div_book_an_appoinment .treatment_all_heading_page{font-size:18px; line-height: 24px;}
.form_section_div_book_an_appoinment .treatment_all_heading_page span{font-size:18px;}
}


/*=====================================================================*/
/* Book an APpoinment Form Form css*/
/*=====================================================================*/
.form_section_div_book_an_appoinment #evaluvationform{text-align:center;position:relative;margin-top:0}
.form_section_div_book_an_appoinment #evaluvationform fieldset{border:0 none;border-radius:.5rem;box-sizing:border-box;width:100%;margin:0;position:relative}
.form_section_div_book_an_appoinment .form-card{text-align:left}
.form_section_div_book_an_appoinment #evaluvationform fieldset:not(:first-of-type){display:none}
.form_section_div_book_an_appoinment #evaluvationform .action-button{width:350px;margin-bottom:0;height:calc(1.5em + .75rem + 2px);line-height:1.6;color:#fff;font-weight:500;border:none;background: linear-gradient(90deg,#0d2334 0,#173d5b 51%,#0d2334 100%);text-transform:uppercase;border-radius:50px}
.form_section_div_book_an_appoinment #evaluvationform .action-button-previous{width:250px;margin-bottom:0;height:calc(1.5em + .75rem + 2px);line-height:1.6;color:#fff;border-radius:6px;font-weight:500;border:none;background-color:#1f83c5;text-transform:uppercase;border-radius:50px}
.form_section_div_book_an_appoinment .card{z-index:0;border:none;position:relative}
.form_section_div_book_an_appoinment .fs-title{font-size:25px;color:#673ab7;margin-bottom:15px;font-weight:400;text-align:left}
.form_section_div_book_an_appoinment .steps{font-size:25px;color:gray;margin-bottom:10px;font-weight:400;text-align:right}
.form_section_div_book_an_appoinment .fieldlabels{color:gray;text-align:left}
.form_section_div_book_an_appoinment #evaluvationform #progressbar{margin-bottom:0;overflow:hidden;color:#d3d3d3;padding-inline-start:00px}
.form_section_div_book_an_appoinment #evaluvationform #progressbar .active{color:#154778}
.form_section_div_book_an_appoinment #evaluvationform #progressbar li{list-style-type:none;font-size:15px;width:50%;float:left;position:relative;font-weight:400}
.form_section_div_book_an_appoinment #evaluvationform #progressbar #account:before{font-family:FontAwesome;content:"\f13e"}
.form_section_div_book_an_appoinment #evaluvationform #progressbar #personal:before{font-family:FontAwesome;content:"\f007"}
.form_section_div_book_an_appoinment #evaluvationform #progressbar #payment:before{font-family:FontAwesome;content:"\f030"}
.form_section_div_book_an_appoinment #evaluvationform #progressbar #confirm:before{font-family:FontAwesome;content:"\f00c"}
.form_section_div_book_an_appoinment #evaluvationform #progressbar li:before{width:90%;height:2px;line-height:45px;display:block;font-size:20px;color:#fff;background:#d3d3d3;border-radius:0;margin:0 auto 10px auto;padding:2px}
.form_section_div_book_an_appoinment #evaluvationform #progressbar li:after{content:'';width:100%;height:2px;background:#d3d3d3;position:absolute;left:0;top:25px;z-index:999}
.form_section_div_book_an_appoinment #evaluvationform #progressbar li.active:after,.form_section_div_book_an_appoinment #evaluvationform #progressbar li.active:before{background:#154778}
.form_section_div_book_an_appoinment #evaluvationform .progress{height:20px}
.form_section_div_book_an_appoinment #evaluvationform .progress-bar{background-color:#154778}
.form_section_div_book_an_appoinment .fit-image{width:100%;object-fit:cover}
@media(max-width:600px){
.form_section_div_book_an_appoinment #evaluvationform .action-button{width:100%}
}
.treatment_all_comm_div_new_book_an_appoinment.form_section_div{padding:20px 0;background-color:transparent;border-top:20px solid #0c4475;border-bottom:20px solid #0c4475}
.treatment_all_comm_div_new_book_an_appoinment .form_custom_bg_testmonilas{background:0 0;padding:0}
.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom label{position:absolute;top:35%;left:28px;transform:translateY(-50%);font-size:16px!important;color:#757575;pointer-events:none;transition:all .15s ease-out}
.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom input,.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom select{display:block;width:100%;height:calc(1.5em + .75rem + 2px);padding:.375rem .75rem;font-size:16px!important;font-weight:400;line-height:1.5;color:#000;background-color:transparent;background-clip:padding-box;border:1px solid #a2a2a2;border-radius:6px;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}
.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom input:focus,.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom select:focus{border:1px solid #1d81c4;outline:0;background-color:transparent}
.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom input.has-value+label,.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom input:focus+label,.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom select.has-value+label,.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom select:focus+label{top:-1px;font-size:11px!important;font-weight:600;color:#000;background-color:#fffaee;padding:5px 6px 0 6px}
.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom input:focus::-webkit-input-placeholder,.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom select:focus::-webkit-input-placeholder{color:transparent}
.treatment_all_comm_div_new_book_an_appoinment .check_box_lable input{width:16px;height:auto;display:inline-flex;margin-left:0}
.treatment_all_comm_div_new_book_an_appoinment .check_box_lable label{padding-top:6px;font-size:12px!important;color:#212121!important;margin-bottom:0}
.treatment_all_comm_div_new_book_an_appoinment .form_custom_heading_testmonilas{margin-bottom:0;font-size:32px!important;text-align:left;font-weight:400;color:#212121;line-height:normal}
.treatment_all_comm_div_new_book_an_appoinment .form_custom_heading_testmonilas span{font-weight:600;color:#187fc3}
.treatment_all_comm_div_new_book_an_appoinment .btn_custom_testmonilas{width:100%;margin-bottom:0;height:calc(1.5em + .75rem + 2px);line-height:1.6;color:#fff;border-radius:6px;font-weight:500;border:none;background-color:#1f83c5!important;text-transform:uppercase;border-radius:50px}
@media(max-width:600px){
.treatment_all_comm_div_new_book_an_appoinment.form_section_div{margin-top:20px;background-color:transparent}
.treatment_all_comm_div_new_book_an_appoinment .form_section_div .container{border-radius:20px}
.treatment_all_comm_div_new_book_an_appoinment .form_custom_bg_testmonilas{width:100%;background:0 0;padding:0;border-radius:20px}
.treatment_all_comm_div_new_book_an_appoinment .testmonilas_form_custom label{position:absolute;top:37%;left:28px;transform:translateY(-50%);font-size:16px!important;color:#757575;pointer-events:none;transition:all .15s ease-out}
.treatment_all_comm_div_new_book_an_appoinment .check_box_lable label{padding-top:0;font-size:10px!important;color:#212121!important;margin-bottom:10px}
.treatment_all_comm_div_new_book_an_appoinment .btn_custom_testmonilas{font-size:16px!important}
.treatment_all_comm_div_new_book_an_appoinment .form_custom_heading_testmonilas{margin-bottom:12px;font-size:24px!important;text-align:center;font-weight:400;color:#212121;line-height:normal}
.treatment_all_comm_div_new_book_an_appoinment .form_custom_heading_testmonilas span{font-weight:600;color:#187fc3}
.treatment_all_comm_div_new_book_an_appoinment .btn_custom_testmonilas{font-size:16px!important}
}
